<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product website</title>
</head>
<h1>Product website</h1>
<body>
    
    <div id="root"></div>
    {% if dev_mode %}
        <script src="http://localhost:9000/js/bundle.js"></script>
    {% else %}
        <script src="{{ url_for('static', filename='js/bundle.js') }}"></script>
    {% endif %}
</body>
</html>