.main-header {
  
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 40%; 
  /* margin-left: calc(50% - 50vw);  */
  background-color: #000; 

  }

   
.header-content {
  display: flex;
  position: relative;
  min-height: 50px; 
  justify-content: space-between;
  width: 99%;
  background-color: #000; 
  align-items: center;
  /* padding: 20px;  */
  
}

.logout-link {
 margin-left: 1%;
 cursor: pointer;
}