.button-group {
    display: flex;
    gap: 20px;
    margin-inline: 2%;
  }
  @media (max-width: 991px) {
    .button-group {
      flex-direction: column;
      align-items: stretch;
      gap: 0;
    }
  }

  .button-section {
    display: flex;
    position: relative;
    min-height: 0;
    /* padding: 20px; */
    /* margin-block: 2%; */ 
    place-self: center;
    place-content: center;
    gap: 20px
  }

  .button-column {
    color: black;
    background-color: bac;
    width: 100px;
    /* line-height: normal; */
    /* width: 50px; */
    /* margin-left: 0; */
  }

  .navigation{
    place-self: center;
    place-content: center;
  }
  /* @media (max-width: 991px) {
    .button-column {
      width: 100%;
    }
  } */