.content-section {
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 100px;
    margin-inline: 2%;
  }

  .content-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 20px 0 -2px;
  }

  .content-columns {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  @media (max-width: 800px) {
    .content-columns {
      flex-direction: column;
      align-items: center;
      /* align-items: stretch; */
      gap: 0;
    }
  }

  .image-column {
    display: flex;
    flex-direction: column;
    line-height: normal;
    margin-left: 0;
  }
  @media (max-width: 500px) {

    .content-columns {
      flex-direction: column; /* Stack image and text vertically */
      align-items: center; /* Center align the content */
    }

    .image-column {
      width: 100%;
    }
  
  }

  .content-image {
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center;
    width: 100%;
    margin-top: 20px;
    min-height: 20px;
    min-width: 20px;
    overflow: hidden;
    border-radius: 5px;
  }
  .content-image-m{
    aspect-ratio: 0.7;
    object-fit: cover;
    object-position: center;
    width: 100%;
    margin-top: 20px;
    min-height: 20px;
    min-width: 20px;
    overflow: hidden;
    border-radius: 5px;
  }
  .text-column {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 98%;
    margin-left: 20px;
  }
  .text-column-m{
    font-size: larger;
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 98%;
    margin-left: 20px;
  }
  

  .text-wrapper {
    position: relative;
    margin-top: 20px;
    height: auto;
  }
  
