.content-section {
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 100px;
    width: 100%;
    margin-inline: 2%;
  }

  .content-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 20px 0 -2px;
  }

  .content-columns {
    display: flex;
    gap: 20px;
  }

  @media (max-width: 991px) {
    .content-columns {
      flex-direction: column;
      align-items: stretch;
      gap: 0;
    }
  }

  .image-column {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 50%;
    margin-left: 0;
  }
  @media (max-width: 991px) {
    .image-column {
      width: 100%;
    }
  }

  .content-image {
    aspect-ratio: 2.77;
    object-fit: cover;
    object-position: center;
    width: 100%;
    margin-top: 20px;
    min-height: 20px;
    min-width: 20px;
    overflow: hidden;
  }

  .text-column {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 50%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .text-column {
      width: 100%;
    }
  }

  .text-wrapper {
    position: relative;
    margin-top: 20px;
    height: auto;
  }
  
